
.welcome-remarks{
    text-align: center;
    margin: 50px;
}

.form{

    display:flex;
    justify-content: center;
}

form{
    background-color: azure;
    padding: 20px;
    width: 500px;
    border: 1px solid slategray;
    box-shadow: 1px 2px 10px rgb(8 20 1 / 0.2);
    border-radius: 5px;
}

.form input{
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.form .button{
    display:flex;
    justify-content: center;
}

.form button{
    margin: 5px;
    padding: 5px;
    background-color: blue;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
}



button:hover{
    cursor: pointer;
    background-color:rgba(100, 63, 178, 0.9);
}